:root{
    margin:auto;padding:auto;

    background-color:red; 

}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 3fr 1fr;
background-color:red;

}

#grid-container{
    grid-column: 2/4;
    grid-row: 2/3;
    display: grid;
    
    justify-self: center;
  
    height: 120%;
    width:75%;
    background-color: rgb(0, 0, 0);
    border: 0.3em black solid;
    border-radius: 1%;
    margin-bottom: -5%;
    
    
}

.box{
 
    background-color: white;
    width: 100%;
    height: auto;
    padding-bottom:75%;
    

  
}

#clear-btn{
    
    grid-column: 2/4;
    grid-row: 1/2;

    width: 35%;
    height: 35%;
    margin-left: 32.5%;
    margin-top: 2%;  
    border-radius: 48%;
    font-size: 1.2em;
    font-weight: bolder;

}




#slide-bar{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 5%;
 
    
}


/**************  slider container ****************/

#slidertxt-cont{
    grid-column: 1/2;
    grid-row: 1/2;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin-bottom: 20%;

  
  

}

#slide-text{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 1.2em;
   

}

#value-word{font-size: 1.2em;
}

#ok-btn{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 3%;
   
}